<div
		class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar border-top-0 border-left-0 border-right-0"
		id="main_header"><a href="/"><img alt="SM"
				src="/img/sm_logo_enhanced_resized.png" /></a>
			<div class="navbar-nav-scroll ml-auto">
				<ul class="navbar-nav bd-navbar-nav flex-row">
					<li class="nav-item"><a class="nav-link active main-menu"
						data-target="vehicle_subheader" data-parent="main_header" href="#">Vehicle
							<i class="fa fa-angle-down fa-lg"></i>
					</a></li>
					<li class="nav-item"><a class="nav-link active main-menu"
						data-target="loan_subheader" data-parent="main_header" href="#">Loan
							<i class="fa fa-angle-down fa-lg"></i>
					</a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/onetime">Onetime</a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/revenue">Revenue</a></li>
			</ul>
		</div></div>
		<div id="vehicle_subheader"
		class="navbar navbar-expand  flex-column flex-md-row bd-navbar border-top-0 border-left-0 border-right-0 justify-content-center sub-header"
		style="display: none;">
			<div class="navbar-nav-scroll">
				<ul class="navbar-nav bd-navbar-nav flex-row">
					<li class="nav-item"><a class="nav-link active"
						href="/vehicle">Manage Vehicle</a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/vehicle_txn">Manage Vehicle Transaction</a></li>
			</ul>
		</div>
	</div>
		<div id="loan_subheader"
		class="navbar navbar-expand flex-column flex-md-row bd-navbar border-top-0 border-left-0 border-right-0 justify-content-center sub-header"
		style="display: none;">
			<div class="navbar-nav-scroll">
				<ul class="navbar-nav bd-navbar-nav flex-row">
					<li class="nav-item"><a class="nav-link active" href="/loan">Manage
							Loan</a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/loan_txn">Manage Loan Transaction</a></li>
			</ul>
		</div>
	</div>