<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/fontawesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/app.css" />
<script src="/js/bootstrap/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/toast/toastr.min.css" />
<script src="/js/others/toastr.min.js"></script>

<script src="/js/utility.js"></script>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>sm-app:Home</title>
</head>
<body>
	<header>
		<div
		class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar border-top-0 border-left-0 border-right-0"
		id="main_header"><img alt="SM"
			src="/img/sm_logo_enhanced_resized.png" />
			<div class="navbar-nav-scroll ml-auto">
				<ul class="navbar-nav bd-navbar-nav flex-row">
					<li class="nav-item"><a class="nav-link active shutdown"
						href="#" onclick="UTIL.shutdown();">Shutdown</a></li>
			</ul>
		</div></div>
</header>
	<main class="pt-4">
	<div class="container pt-5 tile_container">
		<div class="row"><div class="col-md-4 mb-3">
				<div class="card"><a href="/loan" class="nav-link">
						<div class="card-block pt-3">
							<h4 class="d-flex justify-content-center font-weight-bold">Loan</h4>
							<p class="d-flex justify-content-center">Manage your loans</p>
					</div>
				</a></div>
		</div>
			<div class="col-md-4 mb-3">
				<div class="card"><a href="/vehicle" class="nav-link">
						<div class="card-block pt-3">
							<h4 class="d-flex justify-content-center font-weight-bold">Vehicle</h4>
							<p class="d-flex justify-content-center">Manage your vehicles</p>
					</div>
				</a></div>
		</div>
			<div class="col-md-4 mb-3">
				<div class="card"><a href="/loan_txn" class="nav-link">
						<div class="card-block pt-3">
							<h4 class="d-flex justify-content-center font-weight-bold">Loan
								Transaction</h4>
							<p class="d-flex justify-content-center">Manage your loan
								transactions</p>
					</div>
				</a></div>
		</div>
			<div class="col-md-4 mb-3">
				<div class="card"><a href="/vehicle_txn" class="nav-link">
						<div class="card-block pt-3">
							<h4 class="d-flex justify-content-center font-weight-bold">Vehicle
								Transaction</h4>
							<p class="d-flex justify-content-center">Manage your vehicle
								transactions</p>
					</div>
				</a></div>
		</div>
			<div class="col-md-4 mb-3">
				<div class="card"><a href="/onetime" class="nav-link">
						<div class="card-block pt-3">
							<h4 class="d-flex justify-content-center font-weight-bold">Onetime</h4>
							<p class="d-flex justify-content-center">Manage your onetimes
						</p>
					</div>
				</a></div>
		</div>
			<div class="col-md-4 mb-3">
				<div class="card"><a href="/revenue" class="nav-link">
						<div class="card-block pt-3">
							<h4 class="d-flex justify-content-center font-weight-bold">Revenue</h4>
							<p class="d-flex justify-content-center">Visualize your
								revenue</p>
					</div>
				</a></div>
		</div></div>
	</div>
	</main>
</body>
</html>

