<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/fontawesome.min.css" />

<script src="/js/bootstrap/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/components/bootstrap-datepicker.min.css" />
<script src="/js/bootstrap/components/bootstrap-datepicker.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/toast/toastr.min.css" />
<script src="/js/others/toastr.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/app.css" />
<script src="/js/others/handlebars.min-latest.js"></script>
<script src="/js/utility.js"></script>
<script src="/js/app.js"></script>
<script src="/js/loan.js"></script>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>sm-app: Loan</title>
</head>
<body>
	<header> </header>
	<main class="pt-4">
	<div class="container">
		<h3 class="bd-title pb-3 titleline">Loan</h3>
		<div>
			<form>
				<div class="form-row">
					<div class="col-md-4 mb-3"><label>Loan name</label> <input
						type="text" class="form-control " id="loan_name"
						placeholder="Enter loan name"
						data-rules="[{ 'mandatory' : 'Loan name cannot be empty' }]" />
						<div class="error-text mt-2"></div></div>

					<div class="col-md-4 mb-3"><label>Loan description</label> <input
						type="text" class="form-control " id="loan_description"
						placeholder="Enter loan description"
						data-rules="[{'mandatory' : 'Loan description cannot be empty'}]" />
						<div class="error-text mt-2"></div></div>
			</div>
				<div class="form-row">
					<div class="col-md-4 mb-3"><label>Loan start date</label> <input
						type="text" class="form-control datepicker" id="loan_startdate"
						placeholder="Enter start date"
						data-rules="[{'mandatory' : 'Loan start date cannot be empty'}]" />
						<div class="error-text mt-2"></div></div>

					<div class="col-md-4 mb-3"><label>Loan end date</label> <input
						type="text" class="form-control datepicker" id="loan_enddate"
						placeholder="Enter end date" />
						<div class="error-text mt-2"></div></div>

					<div class="col-md-4 mb-3"><label>Loan type</label> <select
						class="custom-select " id="loan_type"
						data-rules="[{'mandatory' : 'Loan type cannot be empty'}]">
							<option value="">Choose..</option>
					</select>
						<div class="error-text mt-2"></div></div>
			</div>

				<div class="form-row">
					<div class="col-md-4 mb-3"><label>Loan amount</label> <input
						type="text" class="form-control " id="loan_amount" value="0"
						placeholder="Enter loan amount"
						data-rules="[{'number_mandatory' : 'Loan amount cannot be empty or zero'}]" />
						<div class="error-text mt-2"></div></div>

					<div class="col-md-4 mb-3"><label>Loan period</label> <input
						type="text" class="form-control" id="loan_period"
						placeholder="Enter loan period"
						data-rules="[{'number_mandatory' : 'Loan period cannot be empty or zero'}]" />
						<div class="error-text mt-2"></div></div>

					<div class="col-md-4 mb-3"><label>Loan status</label> <select
						class="custom-select " id="loan_status"
						data-rules="[{'mandatory' : 'Loan status cannot be empty'}]">
							<option value="">Choose..</option>
					</select>
						<div class="error-text mt-2"></div></div>
			</div>
				<div class="form-row">
					<div class="col-md-4 mb-3 offset-md-8">
						<button type="button" class="btn btn-secondary  float-right ml-3"
						id="btn_clear">clear</button>
						<button type="button" class="btn btn-success float-right"
						id="btn_save">Save</button>

				</div>
			</div>
		</form>
	</div>
		<h3 class="bd-title pb-3 titleline">Loans configured</h3>
		<div id="loan_details" class="tile_container pt-3">
			<div class="row" id="loan_details_row"></div>
	</div>
	</div>
	</main>


	<script id="loan_details_template" type="text/x-handlebars-template">
		{{#each details}}
			<div class="col-md-4 mb-3">
				<div class="card">
					<div class="card-block data-container {{class}}" data-value="{{loanName}}">						 
							<button type="button" class="btn-delete close mr-1" aria-label="Close" data-value="{{loanName}}">
  								<span aria-hidden="true">&times;</span>
							</button>						 
						<div class="clearfix"></div>
						<h4 class="d-flex justify-content-center font-weight-bold">{{loanName}}</h4>						
						<p class="d-flex justify-content-center">{{loanType}}</p>
						<p class="d-flex justify-content-center">{{loanStartDate}}</p>
						<p class="d-flex justify-content-center">{{loanAmount}}&nbsp;&nbsp;<i class="fa fa-inr fa-lg" aria-hidden="true"></i></p>
					</div>
				</div>
			</div>
		{{/each}}
	</script>
</body>
</html>

