<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/fontawesome.min.css" />
<script src="/js/bootstrap/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/others/handlebars.min-latest.js"></script>

<link rel="stylesheet" type="text/css"
	href="/css/datatables/dataTables.bootstrap4.css" />
<script src="/js/datatables/jquery.dataTables.min.js"></script>
<script src="/js/datatables/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/components/bootstrap-datepicker.min.css" />
<script src="/js/bootstrap/components/bootstrap-datepicker.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/toast/toastr.min.css" />
<script src="/js/others/toastr.min.js"></script>

<script src="/js/utility.js"></script>
<script src="/js/app.js"></script>
<script src="/js/revenue.js"></script>
<link rel="stylesheet" type="text/css" href="/css/app.css" />


<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>sm-app:Revenue</title>
</head>
<body>
	<header> </header>
	<main class="pt-4">
	<div class="container">
		<h3 class="bd-title pb-3 titleline">Revenue</h3>
		<div>
			<form>
				<div class="form-row">
					<div class="col-md-4 mb-3"><label>Vehicle name</label> <select
						class="custom-select" id="vehicle_name">
							<option value="">Choose</option>
					</select></div>
			</div>
		</form>
	</div>
		<div class="tile_container pt-3">
			<div class="row">
				<table id="revenue_data_table" class="nowrap table table-striped"
				style="width: 100%;">
			</table>

		</div>
	</div>
		<div class="pt-3" role="tabpanel">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item"><a class="nav-link active" id="all-tab"
					data-toggle="tab" href="#all" role="tab" aria-controls="all"
					aria-expanded="true">All</a></li>
				<li class="nav-item"><a class="nav-link" id="month-tab"
					data-toggle="tab" href="#month" role="tab" aria-controls="month"
					aria-expanded="false">Month</a></li>
		</ul>
			<div class="tab-content pt-3" id="myTabContent">
				<div role="tabpanel" class="tab-pane fade active show" id="all"
				aria-labelledby="all-tab" aria-expanded="true">
					<table id="all_data_table" class="nowrap table table-striped"
					style="width: 100%;">
				</table>
			</div>
				<div class="tab-pane fade" id="month" role="tabpanel"
				aria-labelledby="month-tab" aria-expanded="false">
					<table id="month_data_table" class="nowrap table table-striped"
					style="width: 100%;">
				</table>
			</div>
		</div>
	</div>
	</div>
	</main>

</body>
</html>

