<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap/fontawesome.min.css" />
<script src="../static/js/bootstrap/jquery.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="../static/css/app.css" />
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>sm-app: Loan</title>
</head>
<body>
	<header>
	
		<div
		class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar border-top-0 border-left-0 border-right-0"
		id="main_header"><a href="/"><img alt="SM"
				src="../static/img/sm_logo_enhanced_resized.png" /></a></div>
				
	</header>
	<aside>
	<ul>
		<li>Loan</li>
		<li>Vehicle</li>
		<li>Revenue</li>
		</ul>
		</aside>
	<main class="pt-4">
	<div class="container">
		<h3 class="bd-title pb-3 titleline">Loan</h3>
		<div>
			<form>
				<div class="form-row">
					<div class="col-md-4 mb-3"><label>Loan name</label> <input
						type="text" class="form-control " id="loan_name"
						placeholder="Enter loan name"
						data-rules="[{ 'mandatory' : 'Loan name cannot be empty' }]" />
						<div class="error-text mt-2"></div></div>

					<div class="col-md-4 mb-3"><label>Loan description</label> <input
						type="text" class="form-control " id="loan_description"
						placeholder="Enter loan description"
						data-rules="[{'mandatory' : 'Loan description cannot be empty'}]" />
						<div class="error-text mt-2"></div></div>
			</div>
				<div class="form-row">
					<div class="col-md-4 mb-3"><label>Loan start date</label> <input
						type="text" class="form-control datepicker" id="loan_startdate"
						placeholder="Enter start date"
						data-rules="[{'mandatory' : 'Loan start date cannot be empty'}]" />
						<div class="error-text mt-2"></div></div>

					<div class="col-md-4 mb-3"><label>Loan end date</label> <input
						type="text" class="form-control datepicker" id="loan_enddate"
						placeholder="Enter end date" />
						<div class="error-text mt-2"></div></div>

					<div class="col-md-4 mb-3"><label>Loan type</label> <select
						class="custom-select " id="loan_type"
						data-rules="[{'mandatory' : 'Loan type cannot be empty'}]">
							<option value="">Choose..</option>
					</select>
						<div class="error-text mt-2"></div></div>
			</div>

				<div class="form-row">
					<div class="col-md-4 mb-3"><label>Loan amount</label> <input
						type="text" class="form-control " id="loan_amount" value="0"
						placeholder="Enter loan amount"
						data-rules="[{'number_mandatory' : 'Loan amount cannot be empty or zero'}]" />
						<div class="error-text mt-2"></div></div>

					<div class="col-md-4 mb-3"><label>Loan period</label> <input
						type="text" class="form-control" id="loan_period"
						placeholder="Enter loan period"
						data-rules="[{'number_mandatory' : 'Loan period cannot be empty or zero'}]" />
						<div class="error-text mt-2"></div></div>

					<div class="col-md-4 mb-3"><label>Loan status</label> <select
						class="custom-select " id="loan_status"
						data-rules="[{'mandatory' : 'Loan status cannot be empty'}]">
							<option value="">Choose..</option>
					</select>
						<div class="error-text mt-2"></div></div>
			</div>
				<div class="form-row">
					<div class="col-md-4 mb-3 offset-md-8">
						<button type="button" class="btn btn-secondary  float-right ml-3"
						id="btn_clear">clear</button>
						<button type="button" class="btn btn-success float-right"
						id="btn_save">Save</button>

				</div>
			</div>
		</form>
	</div>
		<h3 class="bd-title pb-3 titleline">Loans configured</h3>
		<div id="loan_details" class="tile_container pt-3">
			<div class="row" id="loan_details_row"></div>
	</div>
	</div>
	</main>

	<script>
		$(document)
				.ready(
						function(event) {

							$('body')
									.on(
											'click',
											'.main-menu',
											function(event) {

												if ($(this).find('i').hasClass(
														'fa-angle-down')) {

													$('#main_header')
															.find(
																	'.fa-angle-up')
															.each(
																	function(
																			idx,
																			val) {
																		$(val)
																				.removeClass(
																						'fa-angle-up')
																				.addClass(
																						'fa-angle-down');
																		$(
																				'#'
																						+ $(
																								val)
																								.parent()
																								.data(
																										'target'))
																				.hide(
																						700);
																	});
													$(
															'#'
																	+ $(this)
																			.data(
																					'parent'))
															.addClass(
																	'white-header');
													$(
															'#'
																	+ $(this)
																			.data(
																					'target'))
															.show(700);
													$(this)
															.find('i')
															.removeClass(
																	'fa-angle-down')
															.addClass(
																	'fa-angle-up');
												} else {
													var that = this;
													$(
															'#'
																	+ $(this)
																			.data(
																					'target'))
															.hide(
																	700,
																	function() {
																		$(
																				'#'
																						+ $(
																								that)
																								.data(
																										'parent'))
																				.removeClass(
																						'white-header');
																		$(that)
																				.find(
																						'i')
																				.removeClass(
																						'fa-angle-up')
																				.addClass(
																						'fa-angle-down');
																	});

												}

											});

						});
	</script>
</body>
</html>

