<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/fontawesome.min.css" />
<script src="/js/bootstrap/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/others/handlebars.min-latest.js"></script>

<link rel="stylesheet" type="text/css"
	href="/css/datatables/dataTables.bootstrap4.css" />
<script src="/js/datatables/jquery.dataTables.min.js"></script>
<script src="/js/datatables/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/components/bootstrap-datepicker.min.css" />
<script src="/js/bootstrap/components/bootstrap-datepicker.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/toast/toastr.min.css" />
<script src="/js/others/toastr.min.js"></script>

<script src="/js/utility.js"></script>
<script src="/js/app.js"></script>
<script src="/js/vehicle_txn.js"></script>
<link rel="stylesheet" type="text/css" href="/css/app.css" />


<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>sm-app:Vehicle-Txn</title>
</head>
<body>
	<header> </header>
	<main class="pt-4">
	<div class="container">
		<h3 class="bd-title pb-3 titleline">Vehicle Transaction</h3>
		<div>
			<form>
				<div class="form-row">
					<div class="col-md-4 mb-3"><label>Vehicle name</label> <select
						class="custom-select" id="vehicleName"
						data-rules="[{'mandatory' : 'Vehicle name cannot be empty or zero'}]">
							<option value="">Choose</option>
					</select>
						<div class="error-text mt-2"></div></div>
					<div class="col-md-4 mb-3"><label>Transaction
							reference</label> <input type="text" class="form-control"
						id="transactionRef" disabled="true" /></div>
			</div>
				<div class="form-row">
					<div class="col-md-4 mb-3"><label>Loan transaction
							date</label> <input type="text" class="form-control datepicker"
						id="transactionDate" placeholder="Enter transaction date"
						data-rules="[{'mandatory' : 'Transaction date cannot be empty'}]" />
						<div class="error-text mt-2"></div></div>
					<div class="col-md-4 mb-3"><label>Transaction
							attribute</label> <select class="custom-select" id="transactionAttribute"
						data-rules="[{'mandatory' : 'Transaction attribute cannot be empty'}]">
							<option value="">Choose</option>
					</select>
						<div class="error-text mt-2"></div></div>
					<div class="col-md-4 mb-3"><label>Amount</label> <input
						type="text" class="form-control" id="amount"
						placeholder="Enter amount"
						data-rules="[{'number_mandatory' : 'Amount cannot be empty or zero'}]" />
						<div class="error-text mt-2"></div></div>
			</div>

				<div class="form-row">
					<div class="col-md-4 mb-3"><label>Remarks</label> <textarea
						class="form-control" id="remarks" rows="3"
						placeholder="Enter remarks"></textarea>
						<div class="error-text mt-2"></div></div>
			</div>
				<div class="form-row">
					<div class="col-md-4 mb-3 offset-md-8">
						<button type="button" class="btn btn-secondary  float-right ml-3"
						id="btn_clear">clear</button>
						<button type="button" class="btn btn-success float-right"
						id="btn_save">Save</button>
				</div>
			</div>
		</form>
	</div>
		<h3 class="bd-title pb-3 titleline">Transactions created</h3>
		<div id="loan_details" class="tile_container pt-3">
			<div class="row">
				<table id="vehicle_data_table" class="nowrap table table-striped"
				style="width: 100%;">
			</table>
		</div>
	</div>
	</div>
	</main>
</body>
</html>

